resources/REPORTING_TASK_ALERT.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description>REPORTING_TASK_ALERT</description>
  <groupId>015b1048-630b-14a1-667f-5199c1084e6a</groupId>
  <name>REPORTING_TASK_ALERT</name>
  <snippet>
    <processGroups>
      <id>e2453728-0159-1000-0000-000000000000</id>
      <parentGroupId>015b1048-630b-14a1-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments>DISK_MEMORY_MONIOR_REPORTING</comments>
      <contents>
        <connections>
          <id>e20716b5-0159-1000-0000-000000000000</id>
          <parentGroupId>e2453728-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>e2453728-0159-1000-0000-000000000000</groupId>
            <id>015b105c-630b-14a1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>e2453728-0159-1000-0000-000000000000</groupId>
            <id>e20218c8-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>e22bfe97-0159-1000-0000-000000000000</id>
          <parentGroupId>e2453728-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>e2453728-0159-1000-0000-000000000000</groupId>
            <id>e20218c8-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>Response</selectedRelationships>
          <source>
            <groupId>e2453728-0159-1000-0000-000000000000</groupId>
            <id>e22b8bf2-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>e22d8f48-0159-1000-0000-000000000000</id>
          <parentGroupId>e2453728-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>e2453728-0159-1000-0000-000000000000</groupId>
            <id>e22b8bf2-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>e2453728-0159-1000-0000-000000000000</groupId>
            <id>e22d7d19-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>e2360d96-0159-1000-0000-000000000000</id>
          <parentGroupId>e2453728-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>e2453728-0159-1000-0000-000000000000</groupId>
            <id>e22d7d19-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>e2453728-0159-1000-0000-000000000000</groupId>
            <id>e235f3ed-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>015b105d-630b-14a1-0000-000000000000</id>
          <parentGroupId>e2453728-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>e2453728-0159-1000-0000-000000000000</groupId>
            <id>015b1069-630b-14a1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>split</selectedRelationships>
          <source>
            <groupId>e2453728-0159-1000-0000-000000000000</groupId>
            <id>015b105c-630b-14a1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>015b106a-630b-14a1-0000-000000000000</id>
          <parentGroupId>e2453728-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>e2453728-0159-1000-0000-000000000000</groupId>
            <id>015b1076-630b-14a1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>30 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>e2453728-0159-1000-0000-000000000000</groupId>
            <id>015b1069-630b-14a1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>015b1077-630b-14a1-0000-000000000000</id>
          <parentGroupId>e2453728-0159-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>e2453728-0159-1000-0000-000000000000</groupId>
            <id>e21184c8-0159-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>e2453728-0159-1000-0000-000000000000</groupId>
            <id>015b1076-630b-14a1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <processors>
          <id>e20218c8-0159-1000-0000-000000000000</id>
          <parentGroupId>e2453728-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>-1599.7426348060649</x>
            <y>-509.63220075538845</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Destination</key>
                <value>
                  <name>Destination</name>
                </value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>
                  <name>Return Type</name>
                </value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>
                  <name>Path Not Found Behavior</name>
                </value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>
                  <name>Null Value Representation</name>
                </value>
              </entry>
              <entry>
                <key>LEVEL</key>
                <value>
                  <name>LEVEL</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Destination</key>
                <value>flowfile-content</value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>json</value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>warn</value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
              </entry>
              <entry>
                <key>LEVEL</key>
                <value>$.bulletins</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>EvaluateJsonPath</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
          <id>e21184c8-0159-1000-0000-000000000000</id>
          <parentGroupId>e2453728-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>-2199.087814514817</x>
            <y>-130.4562101830145</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>SMTP Hostname</key>
                <value>
                  <name>SMTP Hostname</name>
                </value>
              </entry>
              <entry>
                <key>SMTP Port</key>
                <value>
                  <name>SMTP Port</name>
                </value>
              </entry>
              <entry>
                <key>SMTP Username</key>
                <value>
                  <name>SMTP Username</name>
                </value>
              </entry>
              <entry>
                <key>SMTP Password</key>
                <value>
                  <name>SMTP Password</name>
                </value>
              </entry>
              <entry>
                <key>SMTP Auth</key>
                <value>
                  <name>SMTP Auth</name>
                </value>
              </entry>
              <entry>
                <key>SMTP TLS</key>
                <value>
                  <name>SMTP TLS</name>
                </value>
              </entry>
              <entry>
                <key>SMTP Socket Factory</key>
                <value>
                  <name>SMTP Socket Factory</name>
                </value>
              </entry>
              <entry>
                <key>SMTP X-Mailer Header</key>
                <value>
                  <name>SMTP X-Mailer Header</name>
                </value>
              </entry>
              <entry>
                <key>Content Type</key>
                <value>
                  <name>Content Type</name>
                </value>
              </entry>
              <entry>
                <key>From</key>
                <value>
                  <name>From</name>
                </value>
              </entry>
              <entry>
                <key>To</key>
                <value>
                  <name>To</name>
                </value>
              </entry>
              <entry>
                <key>CC</key>
                <value>
                  <name>CC</name>
                </value>
              </entry>
              <entry>
                <key>BCC</key>
                <value>
                  <name>BCC</name>
                </value>
              </entry>
              <entry>
                <key>Subject</key>
                <value>
                  <name>Subject</name>
                </value>
              </entry>
              <entry>
                <key>Message</key>
                <value>
                  <name>Message</name>
                </value>
              </entry>
              <entry>
                <key>Attach File</key>
                <value>
                  <name>Attach File</name>
                </value>
              </entry>
              <entry>
                <key>Include All Attributes In Message</key>
                <value>
                  <name>Include All Attributes In Message</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>SMTP Hostname</key>
                <value>west.exch080.serverdata.net</value>
              </entry>
              <entry>
                <key>SMTP Port</key>
                <value>587</value>
              </entry>
              <entry>
                <key>SMTP Username</key>
                <value>jgeorge@hortonworks.com</value>
              </entry>
              <entry>
                <key>SMTP Password</key>
              </entry>
              <entry>
                <key>SMTP Auth</key>
                <value>true</value>
              </entry>
              <entry>
                <key>SMTP TLS</key>
                <value>true</value>
              </entry>
              <entry>
                <key>SMTP Socket Factory</key>
                <value>javax.net.ssl.SSLSocketFactory</value>
              </entry>
              <entry>
                <key>SMTP X-Mailer Header</key>
                <value>NiFi</value>
              </entry>
              <entry>
                <key>Content Type</key>
                <value>text/plain</value>
              </entry>
              <entry>
                <key>From</key>
                <value>jgeorge@hortonworks.com</value>
              </entry>
              <entry>
                <key>To</key>
                <value>jgeorge@hortonworks.com</value>
              </entry>
              <entry>
                <key>CC</key>
              </entry>
              <entry>
                <key>BCC</key>
              </entry>
              <entry>
                <key>Subject</key>
                <value>${sourceName} ALERT</value>
              </entry>
              <entry>
                <key>Message</key>
                <value>${MESSAGE}

LEVEL			:	${LEVEL}
TIMESTAMP		:	${TIMESTAMP}
SOURCE-NAME		:	${SOURCE-NAME}</value>
              </entry>
              <entry>
                <key>Attach File</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Include All Attributes In Message</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutEmail</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.PutEmail</type>
        </processors>
        <processors>
          <id>e22b8bf2-0159-1000-0000-000000000000</id>
          <parentGroupId>e2453728-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>-2196.462548155678</x>
            <y>-510.9239482852108</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>HTTP Method</key>
                <value>
                  <name>HTTP Method</name>
                </value>
              </entry>
              <entry>
                <key>Remote URL</key>
                <value>
                  <name>Remote URL</name>
                </value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>SSL Context Service</name>
                </value>
              </entry>
              <entry>
                <key>Connection Timeout</key>
                <value>
                  <name>Connection Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Read Timeout</key>
                <value>
                  <name>Read Timeout</name>
                </value>
              </entry>
              <entry>
                <key>Include Date Header</key>
                <value>
                  <name>Include Date Header</name>
                </value>
              </entry>
              <entry>
                <key>Follow Redirects</key>
                <value>
                  <name>Follow Redirects</name>
                </value>
              </entry>
              <entry>
                <key>Attributes to Send</key>
                <value>
                  <name>Attributes to Send</name>
                </value>
              </entry>
              <entry>
                <key>Basic Authentication Username</key>
                <value>
                  <name>Basic Authentication Username</name>
                </value>
              </entry>
              <entry>
                <key>Basic Authentication Password</key>
                <value>
                  <name>Basic Authentication Password</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Host</key>
                <value>
                  <name>Proxy Host</name>
                </value>
              </entry>
              <entry>
                <key>Proxy Port</key>
                <value>
                  <name>Proxy Port</name>
                </value>
              </entry>
              <entry>
                <key>invokehttp-proxy-user</key>
                <value>
                  <name>invokehttp-proxy-user</name>
                </value>
              </entry>
              <entry>
                <key>invokehttp-proxy-password</key>
                <value>
                  <name>invokehttp-proxy-password</name>
                </value>
              </entry>
              <entry>
                <key>Put Response Body In Attribute</key>
                <value>
                  <name>Put Response Body In Attribute</name>
                </value>
              </entry>
              <entry>
                <key>Max Length To Put In Attribute</key>
                <value>
                  <name>Max Length To Put In Attribute</name>
                </value>
              </entry>
              <entry>
                <key>Digest Authentication</key>
                <value>
                  <name>Digest Authentication</name>
                </value>
              </entry>
              <entry>
                <key>Always Output Response</key>
                <value>
                  <name>Always Output Response</name>
                </value>
              </entry>
              <entry>
                <key>Trusted Hostname</key>
                <value>
                  <name>Trusted Hostname</name>
                </value>
              </entry>
              <entry>
                <key>Add Response Headers to Request</key>
                <value>
                  <name>Add Response Headers to Request</name>
                </value>
              </entry>
              <entry>
                <key>Content-Type</key>
                <value>
                  <name>Content-Type</name>
                </value>
              </entry>
              <entry>
                <key>send-message-body</key>
                <value>
                  <name>send-message-body</name>
                </value>
              </entry>
              <entry>
                <key>Use Chunked Encoding</key>
                <value>
                  <name>Use Chunked Encoding</name>
                </value>
              </entry>
              <entry>
                <key>Penalize on "No Retry"</key>
                <value>
                  <name>Penalize on "No Retry"</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>HTTP Method</key>
                <value>GET</value>
              </entry>
              <entry>
                <key>Remote URL</key>
                <value>http://${NIFI_HOST}:${NIFI_PORT}/nifi-api/reporting-tasks/${REPORTING-TASK-UUID}</value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
              </entry>
              <entry>
                <key>Connection Timeout</key>
                <value>5 secs</value>
              </entry>
              <entry>
                <key>Read Timeout</key>
                <value>15 secs</value>
              </entry>
              <entry>
                <key>Include Date Header</key>
                <value>True</value>
              </entry>
              <entry>
                <key>Follow Redirects</key>
                <value>True</value>
              </entry>
              <entry>
                <key>Attributes to Send</key>
              </entry>
              <entry>
                <key>Basic Authentication Username</key>
              </entry>
              <entry>
                <key>Basic Authentication Password</key>
              </entry>
              <entry>
                <key>Proxy Host</key>
              </entry>
              <entry>
                <key>Proxy Port</key>
              </entry>
              <entry>
                <key>invokehttp-proxy-user</key>
              </entry>
              <entry>
                <key>invokehttp-proxy-password</key>
              </entry>
              <entry>
                <key>Put Response Body In Attribute</key>
              </entry>
              <entry>
                <key>Max Length To Put In Attribute</key>
                <value>256</value>
              </entry>
              <entry>
                <key>Digest Authentication</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Always Output Response</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Trusted Hostname</key>
              </entry>
              <entry>
                <key>Add Response Headers to Request</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Content-Type</key>
                <value>${mime.type}</value>
              </entry>
              <entry>
                <key>send-message-body</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Use Chunked Encoding</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Penalize on "No Retry"</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>1 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>InvokeHTTP</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>Failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>No Retry</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>Original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>Response</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>Retry</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
        </processors>
        <processors>
          <id>e22d7d19-0159-1000-0000-000000000000</id>
          <parentGroupId>e2453728-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>-1598.3640159291745</x>
            <y>-684.565333691024</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>NIFI_HOST</key>
                <value>
                  <name>NIFI_HOST</name>
                </value>
              </entry>
              <entry>
                <key>NIFI_PORT</key>
                <value>
                  <name>NIFI_PORT</name>
                </value>
              </entry>
              <entry>
                <key>REPORTING-TASK-UUID</key>
                <value>
                  <name>REPORTING-TASK-UUID</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>NIFI_HOST</key>
                <value>localhost</value>
              </entry>
              <entry>
                <key>NIFI_PORT</key>
                <value>8080</value>
              </entry>
              <entry>
                <key>REPORTING-TASK-UUID</key>
                <value>015b1047-630b-14a1-544c-ce2dbb255eeb</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateAttribute</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>e235f3ed-0159-1000-0000-000000000000</id>
          <parentGroupId>e2453728-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>-2200.493799845186</x>
            <y>-680.8998820064569</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>File Size</key>
                <value>
                  <name>File Size</name>
                </value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>
                  <name>Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Data Format</key>
                <value>
                  <name>Data Format</name>
                </value>
              </entry>
              <entry>
                <key>Unique FlowFiles</key>
                <value>
                  <name>Unique FlowFiles</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>File Size</key>
                <value>1 b</value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Data Format</key>
                <value>Binary</value>
              </entry>
              <entry>
                <key>Unique FlowFiles</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>60 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GenerateFlowFile</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
          <id>015b105c-630b-14a1-0000-000000000000</id>
          <parentGroupId>e2453728-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>-2195.4938589859803</x>
            <y>-323.5653191242877</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>JsonPath Expression</key>
                <value>
                  <name>JsonPath Expression</name>
                </value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>
                  <name>Null Value Representation</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>JsonPath Expression</key>
                <value>[*]</value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>SplitJson</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>split</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.SplitJson</type>
        </processors>
        <processors>
          <id>015b1069-630b-14a1-0000-000000000000</id>
          <parentGroupId>e2453728-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>-1597.7426348060649</x>
            <y>-324.30212263038845</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Destination</key>
                <value>
                  <name>Destination</name>
                </value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>
                  <name>Return Type</name>
                </value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>
                  <name>Path Not Found Behavior</name>
                </value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>
                  <name>Null Value Representation</name>
                </value>
              </entry>
              <entry>
                <key>LEVEL</key>
                <value>
                  <name>LEVEL</name>
                </value>
              </entry>
              <entry>
                <key>MESSAGE</key>
                <value>
                  <name>MESSAGE</name>
                </value>
              </entry>
              <entry>
                <key>SOURCE-NAME</key>
                <value>
                  <name>SOURCE-NAME</name>
                </value>
              </entry>
              <entry>
                <key>TIMESTAMP</key>
                <value>
                  <name>TIMESTAMP</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Destination</key>
                <value>flowfile-attribute</value>
              </entry>
              <entry>
                <key>Return Type</key>
                <value>json</value>
              </entry>
              <entry>
                <key>Path Not Found Behavior</key>
                <value>warn</value>
              </entry>
              <entry>
                <key>Null Value Representation</key>
                <value>empty string</value>
              </entry>
              <entry>
                <key>LEVEL</key>
                <value>$.bulletin.level</value>
              </entry>
              <entry>
                <key>MESSAGE</key>
                <value>$.bulletin.message</value>
              </entry>
              <entry>
                <key>SOURCE-NAME</key>
                <value>$.bulletin.sourceName</value>
              </entry>
              <entry>
                <key>TIMESTAMP</key>
                <value>$.bulletin.timestamp</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>EvaluateJsonPath</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
          <id>015b1076-630b-14a1-0000-000000000000</id>
          <parentGroupId>e2453728-0159-1000-0000-000000000000</parentGroupId>
          <position>
            <x>-1595.0404408380393</x>
            <y>-132.23110107822265</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Rate Control Criteria</key>
                <value>
                  <name>Rate Control Criteria</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Rate</key>
                <value>
                  <name>Maximum Rate</name>
                </value>
              </entry>
              <entry>
                <key>Rate Controlled Attribute</key>
                <value>
                  <name>Rate Controlled Attribute</name>
                </value>
              </entry>
              <entry>
                <key>Time Duration</key>
                <value>
                  <name>Time Duration</name>
                </value>
              </entry>
              <entry>
                <key>Grouping Attribute</key>
                <value>
                  <name>Grouping Attribute</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Rate Control Criteria</key>
                <value>flowfile count</value>
              </entry>
              <entry>
                <key>Maximum Rate</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Rate Controlled Attribute</key>
              </entry>
              <entry>
                <key>Time Duration</key>
                <value>1 min</value>
              </entry>
              <entry>
                <key>Grouping Attribute</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ControlRate</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ControlRate</type>
        </processors>
      </contents>
      <name>REPORTING_TASK_ALERT</name>
    </processGroups>
  </snippet>
  <timestamp>05/04/2017 16:51:49 EDT</timestamp>
</template>